<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.paulkruger.paulsampleapp"
    version   = "1.0.0">

<name>App</name>

<description>
App
</description>

<author href="http://www.univision.com" email="pcarabeo@us.univision.com">
Pedro Carabeo-Nieva
</author>

<preference name="phonegap-version" value="2.3.0" />
<preference name="orientation" value="default" />
<preference name="fullscreen" value="false" />
<preference name="auto-hide-splash-screen" value="false" />
<preference name="show-splash-screen-spinner" value="false" />
<preference name="webviewbounce" value="false" />



</widget>
